body
{
	background-color: #ffffff;
	color: #333333;
}

a:link {
  color:            #000000;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #000000;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}
#loginform
{
	float: right;
}